nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
*.ini
html/nbproject/desktop.ini
nbproject/private/private.xml
nbproject/private/private.xml
*.properties
html/nbproject/private/private.xml
*.ini
html/nbproject/desktop.ini
html/nbproject/desktop.ini
*.bak