
@media (max-width: 480px) {
	/*=======================================================
	COMMON
	=======================================================*/
	/*=======================================================
	Page 
	=======================================================*/
	body{
		background: none;
	}
	.container{
		width: 100%;
		min-width: 320px;
	}
	#page{
		height: auto;
	}
	.forpc{
		display: none;
	}
	.forsp{
		display: block;
	}
	/*=======================================================
	PAGE section:  Header
	=======================================================*/
	header{
		height: auto;
		overflow: visible;
	}
	header .top {
		height: auto;
		overflow: visible;
	}
	header #logo h1, header #logo p{
		text-align: center;
	}
	header #logo img{
		height: auto;
	}
	header #search-nav {
		padding-top: 0;
		position: relative;
		height: 45px;
		z-index: 1;
	}
	header form#search {		
		top: -48px;
		z-index: 99999;
	}
	/*=======================================================
	PAGE section:  footer
	=======================================================*/
	footer,
	body.home footer {
		height: auto;
		margin-top: 20px;
		position: static;
	}
	footer #gioithieu h4{
		text-align: center;
	}
	footer #gioithieu h4 a{
		font-size: 18px;
	}
	footer #gioithieu .row{
		height: auto;
	}
	footer #gioithieu .line{
		display: none;
	}
	footer #gioithieu .routine{
		position: static;
	}
	footer #gioithieu .routine .one-third{
		width: 33%;
		padding: 0 0.3%;
	}
	footer #gioithieu .routine .one-third img{
		max-width: 100%;
	}
	footer #gioithieu .routine a{
		width: 90px;
		height: 90px;
	}
	footer .dvtctc {
		margin: 0 auto;
		height: 27px;
		line-height: 1;
	}
	
	footer .dvtctc .row .one-half{
		width: 50%;
		padding: 0 1%;
		box-sizing: border-box;
	}
	footer .dvtctc .row .one-half img{
		margin-left: 5px;
	}
	footer .dvtctc .row .one-half:first-child img {
		max-width: 30px;
		position: relative;
		top: -10px;
	}
	footer .dvtctc .one-half:nth-child(2) img {
		position: relative;
		top: -5px;
		padding: 0;
	}
	footer .dvtctc .row .one-half span{
		font-size: 11px;
	}
	/*=======================================================
	PAGE: trang chu
	=======================================================*/
	#huongung #video-lagan p{
		margin: 0;
	}
	#huongung #toihuongung .top {    
		border-bottom-color: #C72A91;
	}
	#tamsoat {
		font-size: 27px;
	}
	.dvtctc .one-half img{
		max-width: 47px; 
	}
	.dvtctc .one-half:first-child img{
		max-width:30px;
	}
	#huongung .next{
		display: none;
	}
	#main,
	body.home #main{
		height: auto;
		overflow: visible;
	}
	#huongung{
		background: none;
		padding-right: 0;
	}
	#huongung #sohuongung strong {    
		color: #C72A91;
	}
	#huongung #sohuongung span{
		background: #fff;
		color: #C72A91;
	}
	/*=======================================================
	PAGE: tim hieu benh
	=======================================================*/
	#timhieubenh .one-third p.forpc,
	#timhieubenh #show{
		display: none;
	}
	#timhieubenh .one-third p.forsp{
		display: block;
	}
	/*=======================================================
	PAGE: tin tuc
	=======================================================*/
	article .entry-title {		
		margin: 0;
	}
	article,
	article .entry-content{
		height: auto;
	}
	#tintuc-khac {
		color: #000;
	}
	#tintuc-khac ul li a {
		color: #000;
		font-size: 14px;
	}
	/*=======================================================
	PAGE: hoidap
	=======================================================*/
	#hoidap{
		height: auto;
	}
	#hoidap .item .line {		
		margin-left: 0;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.lagan-form{
		background: #756db2;
		width: auto;
		height: auto;
	}
	#dangky-test img.tip {
		position: static;
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	#dangky-test img.tip{
		position: static;
		width: 100%;
	}
	
	#dangky-test .feup-pure-control-group,
	#dangky-test .feup-pure-control-group.first,
	#dangky-test.lagan-form form input, #dangky-test.lagan-form form select{
		width: 100%;
		margin-top: 0;
	}
	#dangky-test .line.clearfix {
		border: none;
		display: block;
		height: 20px;
	}
	#ewd-feup-register-form-div .error {
		position: static;
		background-color: pink;
		margin: 10px 0;
		padding: 5px;
	}
	#datcauhoi form .ap-form-field-wrapper:first-child, 
	#datcauhoi form div.ap-form-field-wrapper:nth-child(2) {		
		margin-top: 0;
		width: 100%;
	}
	#datcauhoi .seven{
		margin-top: 10px;		
	}
	
	#datcauhoi form input[type='text'], 
	#datcauhoi form input[type='email']{
		/*margin-left: 0;*/
	}
	#datcauhoi .ap-post-submission-message{
		background-color: pink;
		padding: 5px;
		margin: 5px 0;
	}
	#camon-bv-ns h1{
		font-size: 19px;
		margin: 0;
	}
	#camon-bv h1, 
	#camon-ns h1 {
		font-size: 21px;	
	}
	#camon-bv .gallery .gallery-item,
	#camon-bv .gallery .gallery-item .gallery-icon{
		width: 100%;
		height: auto;
	}
	#camon-bv img{
		width: auto;
		position: static;
		max-width: 200px;
	}
	#camon-ns .gallery .gallery-item{
		height: auto;
	}
	#camon-ns img{
		position: static;
	}
	#camon-ns .gallery{
		padding-bottom: 10px;
	}
	#camon-ns p{
		margin: 0;
	}
	#gallery-4 img{
		border: none !important;
	}
	
}
/* Larger than mobile */
@media (min-width: 400px) {	

}