/* Larger than desktop */
@media (min-width: 1000px) {
	body{
		background-size: 100% 100%;
	}
	#page{
		width: 100%;
		height: 768px;
		/*overflow: hidden;*/
	}
	.container{
		max-width: 960px;
		/*max-width: 960px;*/
		/*min-width: 960px;*/
	}	
	#main{
		height: 373px;
		overflow: hidden;
		/*background-color: yellow;*/
	}
	body.home #main{
		height: 327px;
	}
	header #logo img{
		height: 100px;
	}
	header nav #menu li a {
		padding: 0 15px;
		font-weight: bold;
	}
	header nav #menu li {
		margin: 0 5px;
	}
	#tamsoat {
		font-size: 39.5px;
	}
	
	#huongung {
		padding-right: 70px;
		background-image: url(images/icon-next.png);
		background-position: 100% 41%;
		background-repeat: no-repeat;
	}
	#huongung #sohuongung span{
		font-size: 17px;
	}
	#timhieubenh,
	#timhieubenh div{
		height: 373px;
		background: #fff;
	}
	body.page-template-dangky #tamsoat,	
	body.page-template-datcauhoi #tamsoat{
		width: 889px;
		margin: 0 auto;
	}
	#camon-bv-ns .camon-benh-vien, #camon-bv-ns .camon-nghe-si {
		height: 150px;
	}
	#camon-bv-ns .camon-benh-vien a, #camon-bv-ns .camon-nghe-si a {
		height: 150px;
		padding: 64px 5px;
		font-size: 17px;
	}
	#camon-bv .gallery .gallery-item{
		width: 20%;
	}
	#camon-ns .gallery .gallery-item {
		width: 20%;
	}
	.tintuc-list .item {
		margin-bottom: 20px;
		height: 176px;
		overflow: hidden;
	}
	.tintuc-list .item a{
		height: 176px;
	}
	.tintuc-list .item a img {
		width: 100%;
		height: 176px;
	}
	.tintuc-list .item a span {
		bottom: 0;
	}
	article .entry-content{		
		height: 329px;
	}
	#hoidap{
		height: 405px;
	}
	#huongung #btn-toihuongung {
		font-size: 23px;
		line-height: 5;
	}
	#tintuc-khac, 
	#tintuc-khac ul li, 
	#tintuc-khac ul li a {
		color: #fff;
	}
	footer #gioithieu h4 a {
		font-size: 19px;		
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	#huongung {
		padding-right: 70px;
		background-image: url(images/icon-next.png);
		background-position: 100% 35%;
		background-repeat: no-repeat;
	}
	#huongung #sohuongung span {
		font-size: 20px;
	}
	header nav #menu li a{
		font-size: 14px;
	}
	header nav #menu li {
		margin: 0 10px;
	}
	#huongung #btn-toihuongung {
		font-size: 28px;
		line-height: 4;
	}
	footer #gioithieu h4 a {
		font-size: 22px;
	}
}
	
}