
@media (max-width: 399px) {
	body{
		background: none;
	}
	.container{
		width: 100%;
	}

	header{
		height: auto;
	}
	header .top {
		height: auto;
	}
	header #logo h1, header #logo p{
		text-align: center;
	}
	header #logo img{
		height: auto;
	}
	header #search-nav {
		padding-top: 0;
		position: relative;
		height: 45px;
	}
	header form#search {		
		top: -48px;
	}
	#tamsoat {
		font-size: 27px;
	}
	.dvtctc .one-half img{
		max-width: 47px; 
	}
	.dvtctc .one-half:first-child img{
		max-width:30px;
	}
	#huongung .next{
		display: none;
	}
}
/* Larger than mobile */
@media (min-width: 400px) {	

}