@media (max-width: 1024px){
	body{	
		background-image: url(images/background-1024.png);
		
	}
	header #logo h1, header #logo p {
		margin: 0;
		text-align: right;
	}
}
@media (max-width: 959px){
	.container{
		max-width: 768px;
		padding: 0 12px;
		box-sizing: border-box;
	}
	#page,
	header, header .top,
	#timhieubenh, #timhieubenh div,
	body.home #main, #main,
	article, article .entry-content,
	#hoidap{
		height: auto;
	}
	header{
		margin-top: 40px;
	}
	header nav #menu {   
		width: 100%;    
		background-size: 100% 100%;
	}
	header nav #menu li {		
		margin-left: 5px;		
	}
	header nav #menu li:first-child {
		margin-left: 5px;
	}
	header nav #menu li a{
		padding: 0 10px;
	}
	
	#huongung {
		padding-right: 0;
		background: none;
	}
	#huongung #btn-toihuongung {
		font-size: 20px;
	}
	#huongung #sohuongung strong {    
		font-size: 50px;
	}
	article .entry-title{
		margin-left: 0;
	}
	#dangky-test{
		background: #756db2;
		height: auto;
		width: 100%;
	}
	#dangky-test .five,#dangky-test .seven{
		width: 100%;
		margin-left: 0;
	}
	#dangky-test .forsp{
		display: block;
	}
	#dangky-test .forpc{
		display: none;
	}
	.lagan-form #logo-slogan p, 
	.lagan-form #logo-slogan .form_description{
		margin: 0;
	}
	#dangky-test img.tip {
		position: static;
	}
	#dangky-test .feup-pure-control-group {		
		width: 50%;
	}
	#dangky-test form input:first-child,
	.lagan-form form select{
		margin-left: 0;
		width: 95%;
	}
	#dangky-test form input[type="button"], 
	#dangky-test form input[type="submit"] {		
		float: none;
		margin-top: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#datcauhoi{
		width: 100%;
	}
	#datcauhoi.lagan-form form input{
		width: auto;
	}
	#datcauhoi.lagan-form form input[type='submit']{
		width: 194px;
	}
	#camon-bv-ns h1 {
		font-size: 39px;
	}
	#camon-bv h1, #camon-ns h1{
		font-size: 29px;
	}
	#camon-ns .gallery .gallery-item {		
		width: 20%;
		padding: 7px 9px;
		box-sizing: border-box;
		margin: 0;
	}
}
@media (max-width: 768px){
	body{	
		background-image: url(images/background-768.png);
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}